In [30]:
import pandas as pd
import numpy as np
import os
from LocalModule import *

In [32]:
df = pd.read_csv('G:/Project/ProjectData/FactTable(F).csv')

In [33]:
df.drop(['ScheduledTime'],axis = 1, inplace = True)

In [34]:
df['domint'].replace(True, 'DOM', inplace = True)
df['domint'].replace(False, 'INT', inplace = True)

### Read and check Data

In [35]:
df.head()

,FlightDate,FlightNo,ACType,Route,CgoKgs,TotalPax,BaseStation,BagPcs,FlightType,Airline,domint,Capacity,INF,CHD,ADL,ArrDep,C
0,2015-01-01,JI770,A320,YVF-AAH,0,185,AAH,26,PAX,JI,DOM,180.0,9,18,158,A,0
1,2015-01-01,JI237,A320,AAH-YVF,0,146,AAH,10,PAX,JI,DOM,180.0,4,19,123,D,0
2,2015-01-01,UV251,A320,YVF-AAH,654,176,AAH,51,PAX,UV,DOM,180.0,5,16,155,A,0
3,2015-01-01,UV277,A320,AAH-YVF,3713,152,AAH,32,PAX,UV,DOM,180.0,6,23,123,D,0
4,2015-01-01,UV340,A320,USR-AAH,3713,171,AAH,57,PAX,UV,DOM,180.0,2,10,159,A,0

In [36]:
df.tail()

,FlightDate,FlightNo,ACType,Route,CgoKgs,TotalPax,BaseStation,BagPcs,FlightType,Airline,domint,Capacity,INF,CHD,ADL,ArrDep,C
3765426,2022-12-31,HS2652,A321,UYK-USR,0,132,UYK,58,PAX,HS,DOM,220.0,3,13,116,D,0
3765427,2022-12-31,WV6588,AT72,DVA-YVF,0,57,DVA,27,PAX,WV,DOM,78.0,1,2,54,D,0
3765428,2022-12-31,WV8206,AT72,YVF-DVA,0,48,DVA,14,PAX,WV,DOM,78.0,0,4,44,A,0
3765429,2022-12-31,NR2476,ERJ-190,USR-DVA,122,76,DVA,23,PAX,NR,DOM,114.0,1,8,67,A,1
3765430,2022-12-31,NR8488,ERJ-190,DVA-USR,350,69,DVA,46,PAX,NR,DOM,114.0,1,2,66,D,2

In [37]:
df.describe()

,CgoKgs,TotalPax,BagPcs,Capacity,INF,CHD,ADL,C
count,3.765431e+06,3.765431e+06,3.765431e+06,3.692198e+06,3.765431e+06,3.765431e+06,3.765431e+06,3.765431e+06
mean,2.222278e+03,1.469107e+02,4.521322e+01,2.063297e+02,2.211495e+00,9.518734e+00,1.351684e+02,2.267611e+00
std,7.470068e+03,7.304258e+01,6.656194e+02,5.497228e+01,3.655376e+00,9.706058e+00,6.839064e+01,8.309300e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,1.160000e+02,0.000000e+00,1.800000e+02,0.000000e+00,2.000000e+00,1.070000e+02,0.000000e+00
50%,7.100000e+01,1.580000e+02,1.700000e+01,2.200000e+02,1.000000e+00,7.000000e+00,1.450000e+02,0.000000e+00
75%,1.465000e+03,1.820000e+02,7.000000e+01,2.200000e+02,3.000000e+00,1.400000e+01,1.680000e+02,0.000000e+00
max,1.313700e+06,5.168100e+04,1.271606e+06,4.670000e+02,1.800000e+03,1.303000e+03,5.168100e+04,1.600230e+05

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3765431 entries, 0 to 3765430
Data columns (total 17 columns):
 #   Column       Dtype
---  ------       -----
 0   FlightDate   object
 1   FlightNo     object
 2   ACType       object
 3   Route        object
 4   CgoKgs       int64
 5   TotalPax     int64
 6   BaseStation  object
 7   BagPcs       int64
 8   FlightType   object
 9   Airline      object
 10  domint       object
 11  Capacity     float64
 12  INF          int64
 13  CHD          int64
 14  ADL          int64
 15  ArrDep       object
 16  C            int64
dtypes: float64(1), int64(7), object(9)
memory usage: 488.4+ MB

In [39]:
df['FlightDate'] = pd.to_datetime(df['FlightDate'])

In [40]:
df.columns

Index(['FlightDate', 'FlightNo', 'ACType', 'Route', 'CgoKgs', 'TotalPax',
       'BaseStation', 'BagPcs', 'FlightType', 'Airline', 'domint', 'Capacity',
       'INF', 'CHD', 'ADL', 'ArrDep', 'C'],
      dtype='object')

### Split Data

In [41]:
df_category = df.select_dtypes(include='object')

In [42]:
df_category.drop([''])

  FlightNo ACType    Route BaseStation FlightType Airline domint ArrDep
0    JI770   A320  YVF-AAH         AAH        PAX      JI    DOM      A
1    JI237   A320  AAH-YVF         AAH        PAX      JI    DOM      D
2    UV251   A320  YVF-AAH         AAH        PAX      UV    DOM      A
3    UV277   A320  AAH-YVF         AAH        PAX      UV    DOM      D
4    UV340   A320  USR-AAH         AAH        PAX      UV    DOM      A

In [43]:
df_numeric = df.select_dtypes(exclude='object')

In [44]:
df_numeric.head()

  FlightDate  CgoKgs  TotalPax  BagPcs  Capacity  INF  CHD  ADL  C
0 2015-01-01       0       185      26     180.0    9   18  158  0
1 2015-01-01       0       146      10     180.0    4   19  123  0
2 2015-01-01     654       176      51     180.0    5   16  155  0
3 2015-01-01    3713       152      32     180.0    6   23  123  0
4 2015-01-01    3713       171      57     180.0    2   10  159  0

### Univariate Analysis

#### Numeric variable

In [46]:
def check_central_tendency(col_name, data_frame):
    _min = data_frame[col_name].min()
    _max = data_frame[col_name].max()
    _mean = data_frame[col_name].mean()
    _median = data_frame[col_name].median()
    _mode = data_frame[col_name].mode()[0]
    _range = _max - _min
    print(f'Variable: {col_name}, Min: {_min}, Max: {_max}, Mean: {round(_mean, 3)}, Median: {_median}, Mode: {_mode}, Range: {_range}')
def check_dispersion(col_name, data_frame):
    Q1 = data_frame[col_name].quantile(0.25)
    Q3 = data_frame[col_name].quantile(0.75)
    IQR = Q3 - Q1
    var = data_frame[col_name].var()
    std = data_frame[col_name].std()
    skew = data_frame[col_name].skew()
    kutosis = data_frame[col_name].kurtosis()
    print(f'Variable: {col_name}, Q1: {Q1}, Q3: {Q3}, IQR: {IQR}, Variance: {round(var, 3)}, \
    Std: {round(std,3)}, Skew: {round(skew,3)}, Kutosis: {round(kutosis, 3)}')
def visualize_numrical_variable(col_name, data_frame):
    plt.figure(figsize=(8,6))
    plt.subplot(1,2,1)
    plt.hist(data_frame[col_name])
    plt.title(f'Hist plot of {col_name}')
    plt.subplot(1,2,2)
    plt.boxplot(data_frame[col_name].dropna())
    plt.title(f'Box plot of {col_name}')
    plt.show()

def visualize_numrical_variable(col_name, data_frame):
    plt.figure(figsize=(8,6))
    plt.subplot(1,2,1)
    plt.hist(data_frame[col_name])
    plt.title(f'Hist plot of {col_name}')
    plt.subplot(1,2,2)
    plt.boxplot(data_frame[col_name].dropna())
    plt.title(f'Box plot of {col_name}')
    plt.show()

In [ ]:
for col in df_numeric.columns:
    check_dispersion(col, df_numeric)

Variable: Age, Q1: 20.125, Q3: 38.0, IQR: 17.875, Variance: 211.019,     Std: 14.526, Skew: 0.389, Kutosis: 0.178
Variable: SibSp, Q1: 0.0, Q3: 1.0, IQR: 1.0, Variance: 1.216,     Std: 1.103, Skew: 3.695, Kutosis: 17.88
Variable: Parch, Q1: 0.0, Q3: 0.0, IQR: 0.0, Variance: 0.65,     Std: 0.806, Skew: 2.749, Kutosis: 9.778
Variable: Fare, Q1: 7.8958, Q3: 31.0, IQR: 23.1042, Variance: 2474.34,     Std: 49.743, Skew: 4.782, Kutosis: 33.325

In [ ]:
for col in df_numeric.columns:
    visualize_numrical_variable(col, df_numeric)